* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/*navigatie*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

nav img {
    max-width: 9rem;
    max-height: 5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #b94f99;
    transition: 0.3s;
    transform: scale(1.05);
}

/*home pagina header*/
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("/img/papier.jpg"); /* Controleer dit pad */
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
}

.hero-content .name {
    margin-top: 10px;
    font-size: 1.5em;
    color: #f0f;
}

.hero-content .year {
    margin-top: 5px;
    font-size: 1.2em;
}

/*galerij mijn werk*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px; /* Om ruimte te maken voor de vaste navigatiebalk */
}

.gallery-item {
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}

/* Pop-up */
.popup {
    display: none; /* Verborgen standaard */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.popup-content h2, .popup-content p {
    color: #000;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #B94F98;
    color: #fff;
    text-align: center;
    padding: 1.25rem;
    position: relative;
    z-index: 1;
}

footer p {
    margin: 0;
}